.Section {
  display: flex;
  flex-direction: column;

  gap: 80px;

  justify-content: center;
  align-items: center;

  padding-top: 300px;
  padding-bottom: 300px;

  height: 100%;
  width: 100%;

  .Content_Container {
    display: flex;
    flex-direction: column;

    padding: 5px;
    gap: 150px;

    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 800px;

    transition: 0.5s;

    .Title_Container {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      height: fit-content;
      width: fit-content;

      .Title {
        color: white;
        font-family: "Nunito", sans-serif;
        font-size: 50px;
        font-weight: 200;
        text-align: center;
        transition: 0.5s;

        text-shadow: 2px 2px 4px rgba(0,0,0,0.96);
      }

      .Description {
        color: white;
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        font-weight: 200;
        text-align: center;
        transition: 0.5s;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.96);
      }
    }

    .Card {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: 1px solid rgba(255, 255, 255, .5);
      background-color: rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;

      gap: 20px;

      justify-content: center;
      align-items: center;

      height: 100%;
      width: 600px;

      .Head {
        border: 1px solid rgba(255, 255, 255, .5);
        display: flex;

        justify-content: space-between;
        align-items: center;

        width: 100%;

        .Links {
          display: flex;
          gap: 20px;
        }
      }

      .Information_Box {
        display: flex;
        flex-direction: column;

        gap: 10px;
        padding: 5px;

        justify-content: space-evenly;
        align-items: left;

        height: 100%;
        width: 100%;

        .Project_Title {
          color: white;
          font-size-adjust: 25px;
          font-weight: 300;
          
          border-bottom: 1px solid white;
          width: fit-content;
          text-shadow: 2px 2px 4px rgba(0,0,0,0.96);
        }

        .Description {
          color: white;
          font-size-adjust: 18px;
          font-weight: 300;
          text-shadow: 2px 2px 4px rgba(0,0,0,0.96);
        }

        .Stack_Container {
          display: flex;
          gap: 20px;
          justify-content: space-evenly;
          align-items: center;

          height: fit-content;
          width: fit-content;

          .Stack {
            border: 2px solid black;
            display: flex;
            padding: 2px;

            background-color: rgba(0, 0, 0, 0.5);

            color: #319795;
            font-size: 15px;
            font-weight: 300;
            font-style: italic;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.96);
          }
        }
      }
    }
  }
}

// Media Queries Start

@media only screen and (max-width: 810px) {
  .Section {
    .Content_Container,
    .Project_Wrapper {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 605px) {
  .Section {
    .Content_Container {
      .Card {
        width: 100%;
        .Image_Container {
          width: 100%;
          height: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .Section {
    .Content_Container {
      .Title_Container {
        .Title {
          font-size: 35px;
        }
        .Description {
          font-size: 15px;
        }
      }
    }
  }
}

// Media Queries End
