.Nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  position: fixed;
  top: 0px;
  left: 0px;

  padding: 5px;

  justify-content: space-between;
  align-items: center;

  height: fit-content;
  width: 100%;

  z-index: 10;
  transition: 0.5s;

  .Left_Side,
  .Right_Side {
    display: flex;
    padding: 5px;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
  }

  .Left_Side {
    .Image_Container {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;

      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 30px;
      width: 30px;

      .Logo {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .Right_Side {
    .Navlink_Container {
      display: flex;
      gap: 20px;
      justify-content: space-evenly;
      align-items: center;

      .NavItem {
        .Navlink {
          color: white;
          font-family: "Nunito", sans-serif;
          font-size: 15px;
          font-weight: 200;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
          cursor: pointer;
        }
      }
    }

    .Menu_Icon {
      display: none;
      cursor: pointer;
    }
  }

  //   Mobile Menu Start

  .Mobile_Menu_Container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0px;
    left: 0px;

    justify-content: left;
    align-items: left;

    overflow-y: scroll;

    height: 100vh;
    width: 100%;

    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: translateX(-100%);

    display: none;

    .Content_Container {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #283237;

      gap: 20px;

      display: flex;
      flex-direction: column;

      height: 100%;
      width: 500px;

      .Header {
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        padding: 5px;
        gap: 20px;

        justify-content: space-between;
        align-items: center;

        height: fit-content;
        width: 100%;

        .Logo_Container {
          border: 1px solid white;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          cursor: pointer;
        }

        .CloseIcon {
          cursor: pointer;
        }
      }

      .Mobile_Navlink_Container {
        border: 1px solid white;

        display: flex;
        flex-direction: column;

        gap: 20px;

        justify-content: space-evenly;
        align-items: left;

        height: fit-content;
        width: 100%;

        .Mobile_NavItem {
          display: flex;

          padding: 5px;

          width: 100%;
          height: fit-content;

          color: white;
          font-size: 15px;
          font-weight: 300;
        }
      }
    }
  }

  .Reveal {
    transform: translateX(0%);
  }

  //   Mobile Menu Endobile Menu End
}
::-webkit-scrollbar {
  width: 0px;
}

// Media Queries Start

@media only screen and (max-width: 768px) {
  .Nav {
    .Right_Side {
      .Navlink_Container {
        display: none;
      }
      .Menu_Icon {
        display: block;
      }
    }
    .Mobile_Menu_Container {
      display: flex;
    }
  }
}

// Media Queries End
