.Nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  z-index: 10;
  transition: 0.5s;
}
.Nav .Left_Side,
.Nav .Right_Side {
  display: flex;
  padding: 5px;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.Nav .Left_Side .Image_Container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}
.Nav .Left_Side .Image_Container .Logo {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Nav .Right_Side .Navlink_Container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.Nav .Right_Side .Navlink_Container .NavItem .Navlink {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 200;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
  cursor: pointer;
}
.Nav .Right_Side .Menu Icon {
  display: none;
  cursor: pointer;
}
.Nav .Mobile_Menu_Container {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  justify-content: left;
  align-items: left;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  transform: translateX(-100%);
  display: none;
}
.Nav .Mobile_Menu_Container .Content_Container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #283237;
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
}
.Nav .Mobile_Menu_Container .Content_Container .Header {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.Nav .Mobile_Menu_Container .Content_Container .Header .Logo_Container {
  border: 1px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.Nav .Mobile_Menu_Container .Content_Container .Header .CloseIcon {
  cursor: pointer;
}
.Nav .Mobile_Menu_Container .Content_Container .Mobile_Navlink_Container {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  align-items: left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.Nav .Mobile_Menu_Container .Content_Container .Mobile_Navlink_Container .Mobile_NavItem {
  display: flex;
  padding: 5px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.Nav .Reveal {
  transform: translateX(0%);
}

::-webkit-scrollbar {
  width: 0px;
}

@media only screen and (max-width: 768px) {
  .Nav .Right_Side .Navlink_Container {
    display: none;
  }
  .Nav .Right_Side .Menu_Icon {
    display: block;
  }
  .Nav .Mobile_Menu_Container {
    display: flex;
  }
}/*# sourceMappingURL=Nav.module.css.map */